body {
    box-sizing: border-box;
}

.header { 
    background-image: radial-gradient(#5B483A 0%, #262425 100%);
}

.wrapper { 
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.header-container { 
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.logo { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo__title { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo__subtitle { 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.nav { 
    width: 443px;
}

.nav__list { 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav__item { }

.nav__link { 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
}

.nav__link_active {
    border-bottom: #F1CDB3 3px solid;
}

.main { }
.main-container { }
.section { }

.hero { 
    padding-top: 60px;
    background-image: radial-gradient(#5B483A 0%, #262425 100%);
}

.hero__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero__block {
    width: 502px;
    padding-top: 163px;
    padding-right: 42px;
}

.hero__title { 
    width: 310px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}

.hero__text { 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #CDCDCD;
}

.hero__button { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
}

.hero__image {
    width: 698px;
    height: 728px;
    background: url(/assets/images/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.about { 
    padding-top: 80px;
    padding-bottom: 100px;
}

.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 175px;
}

.about__image { 
    width: 300px;
    height: 408px;
    background: url(/assets/images/about-pets.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
}

.about__text-block { 
    width: 550px;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}

.about__title { 
    padding-right: 60px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.about__text { 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.pets { 
    padding-top: 80px;
    padding-bottom: 100px;
    background: #F6F6F6;
}

.pets__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pets__title { 
    width: 400px;
    margin: 0 auto;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets__slider { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
    padding: 60px 0;
}

.pets__card { 
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FAFAFA;
    border-radius: 9px;
}

.pets__image { 
    width: 270px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets__image_katrin {
    background-image: url(/assets/images/pets-katrine.png);
}

.pets__image_jennifer {
   background-image: url(/assets/images/pets-jennifer.png); 
}

.pets__image_woody {
    background-image: url(/assets/images/pets-woody.png);
}

.pets__name { 
    margin: 0 auto;
    padding: 30px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets__button-more { 
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.pets__button { 
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    width: 270px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.help { }
.help__block { }
.help__icon { }
.help__title { }
.donation { }
.donation__image { }
.donation__block { }
.donation__title { }
.donation__description { }
.donation__card-block { }
.donation__card-logo { }
.donation__card-number { }
.donation__legal-text { }
.footer { }
.footer-container { }
.contacts { }
.contacts__title { }
.contacts__email-block { }
.contacts__email-icon { }
.contacts__email { }
.contacts__phone-block { }
.contacts__phone-icon { }
.contacts__phone { }
.address { }
.address__title { }
.address__address-block { }
.address__address-icon { }
.address__address-text { }
.footer-image { }