html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.header { 
    background-image: radial-gradient(#5B483A 0%, #262425 100%);
}

.wrapper { 
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.header-container { 
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.logo { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo:hover {
    cursor: pointer;
}

.logo__title { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo__subtitle { 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.nav { 
    width: 443px;
}

.nav__list { 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}

.nav__item { }

.nav__link { 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
    transition: all 0.25s ease;
}

.nav__link_active {
    border-bottom: #F1CDB3 3px solid;
}

.nav__link:hover {
    border-bottom: #F1CDB3 3px solid;
}

.main { }
.main-container { }
.section { }

.hero { 
    padding-top: 60px;
    background-image: radial-gradient(#5B483A 0%, #262425 100%);
}

.hero__container {
    height: 728px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero__block {
    width: 502px;
    padding-top: 163px;
    padding-right: 42px;
}

.hero__title { 
    width: 310px;
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.hero__text { 
    margin: 0;
    padding: 42px 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #CDCDCD;
}

.hero__button { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
}

.hero__image {
    max-width: 698px;
    width: 100%;
    height: auto;
    background: url(/assets/images/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.about { 
    padding-top: 80px;
    padding-bottom: 100px;
}

.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 175px;
}

.about__image { 
    width: 100%;
    height: 408px;
    background: url(/assets/images/about-pets.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.about__text-block { 
    width: 550px;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-top: 11px;
}

.about__title { 
    width: 370px;
    padding-right: 60px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.about__text { 
    margin: 0;
    padding-top: 25px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.pets { 
    padding-top: 80px;
    padding-bottom: 100px;
    background: #F6F6F6;
}

.pets__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pets__title { 
    width: 400px;
    margin: 0 auto;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets__slider {
    width: calc(1200px * 100vw / 1296);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pets__cards { 
    width: 990px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.pets__arrow_left {
    position: relative;
    width: 52px;
    height: 52px;
    text-decoration: none;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 50%;
    display: block;
}

.pets__arrow_left::after {
    content:"\2191";
    position: absolute;
    left: 17px;
    top: 21px;
    width: 14px;
    height: 6px;
    display: block;
    color: #292929;
    font-weight: bold;
    transform: translate(-7px, -3px) rotate(-90deg);
}

.pets__arrow_right {
    position: relative;
    width: 52px;
    height: 52px;
    text-decoration: none;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 50%;
    display: block;
}

.pets__arrow_right::after {
    content:"\2191";
    position: absolute;
    left: 17px;
    top: 21px;
    width: 14px;
    height: 6px;
    display: block;
    color: #292929;
    font-weight: bold;
    transform: translate(7px, 3px) rotate(90deg);
}

.pets__card { 
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FAFAFA;
    border-radius: 9px;
}

.pets__image { 
    width: 270px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets__image_katrin {
    background-image: url(/assets/images/pets-katrine.png);
}

.pets__image_jennifer {
   background-image: url(/assets/images/pets-jennifer.png); 
}

.pets__image_woody {
    background-image: url(/assets/images/pets-woody.png);
}

.pets__name { 
    margin: 0 auto;
    padding: 30px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets__button-more { 
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.pets__button { 
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    width: 270px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.help { 
    padding-top: 80px;
    padding-bottom: 100px;
    background: #FFFFFF;
}

.help__block { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.help__title { 
    width: 308px;
    height: 90px;
    left: 446px;
    top: 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.help__icons { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 87px;
    gap: 55px;
}

.help__icons-line { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.help__icons-line_first { 
    width: 1026px;
}

.help__icons-line_second { 
    width: 858px;
}

.help__icon-block { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.help__icon { 
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
}

.help__icon_food {
    background-image: url(/assets/icons/icon-pet-food.svg);
}

.help__icon_transport { 
    background-image: url(/assets/icons/icon-transportation.svg);
}

.help__icon_toys { 
    background-image: url(/assets/icons/icon-toys.svg);
}

.help__icon_cups { 
    background-image: url(/assets/icons/icon-bowls-and-cups.svg);
}

.help__icon_shampoos { 
    background-image: url(/assets/icons/icon-shampoos.svg);
}
.help__icon_vitamins { 
    background-image: url(/assets/icons/icon-vitamins.svg);
}

.help__icon_medicines { 
    background-image: url(/assets/icons/icon-medicines.svg);
}

.help__icon_collars { 
    background-image: url(/assets/icons/icon-collars-leashes.svg);
}

.help__icon_sleep { 
    background-image: url(/assets/icons/icon-sleeping-area.svg);
}

.help__icon-tittle { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation { 
    padding: 80px 0 100px;
    background: #F6F6F6;
}

.donation__container {
    height: 282px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.donation__image { 
    width: 505px;
    height: 282px;
    padding: 10px 0;
    background-image: url(/assets/images/donation-dog.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.donation__block { 
    width: 380px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-left: 30px;
}

.donation__title { 
    padding-right: 80px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__description { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__card-block { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
}

.donation__card-logo { 
    width: 30px;
    height: 23px;
    background-image: url(/assets/icons/credit-card.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.donation__card-number { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__legal-text { 
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
}

.footer { 
    background-image: radial-gradient(#5B483A 0%, #262425 100%);
}

.footer-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts { 
    width: 288px;
    padding: 56px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__title { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.contacts__email-block { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.contacts__email-icon { 
    width: 40px;
    height: 32px;
    background-image: url(/assets/icons/icon-email.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts__email { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.contacts__phone-block { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.contacts__phone-icon { 
    width: 40px;
    height: 32px;
    background-image: url(/assets/icons/icon-phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts__phone { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.address { 
    width: 302px;
    padding: 56px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address__title { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.address__address-block { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.address__address-icon { 
    width: 22px;
    height: 32px;
    background-image: url(/assets/icons/icon-marker.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.address__address-text { 
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer-image { 
    width: 300px;
    height: 310px;
    background-image: url(/assets/images/footer-puppy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 40px;
}